<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotel5taReal.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=NEHIMAYA-PC\NEHIMAYAPC;Integrated Security=SSPI;Initial Catalog=Hotel5taReal"
            providerName="System.Data.OleDb" />
        <add name="Hotel5taReal.Properties.Settings.Hotel5taRealConnectionString"
            connectionString="Data Source=NEHIMAYA-PC\NEHIMAYAPC;Initial Catalog=Hotel5taReal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>